.TabContainer {
	
}

.NavTabs {
	cursor: pointer;
	border: 0;
}
.nav-tabs {
	background-color: #6441A4  !important;
	border: 0;
	color: white !important;
}

.NavTabs:hover {
	background-color: #A990D7;
	color: white;
}


.nav-link.active {
	background-color: #F6F4FA !important;
	color: black !important;
	border-bottom: #F6F4FA  !important;
}

.nav-link {
	border: 0 !important;
	cursor: pointer !important;
}

.pageContent {
	align-content: stretch;
	padding: 0 0 0 0 !important;
}


@media (min-width: 769px) {
	.btn-class{
		display: none;
	}
	.backdrop{
		display: none;
	}
	.Nav_Button_state{
		display: none;
	}

	
}


@media (max-width: 768px) {
	.TabContainer{
		display: none !important;
	}

	.Navigation_Tab_Container{
	background-color: #6441A4;
	height: 7vh;
}
}