.stretch{
	
}
.obs_contain {
	margin: 0, 0, 0, 0 !important;
	padding: 0, 0, 0, 0 !important;
	width: 100% !important;
	text-align: left;
	background-color: white;
	/*box-shadow: 5px 5px 2px 5px;*/
	margin-top: 0;
	margin-bottom: 0;

}

.Title_OBS {
	margin-left: 0;
	padding-top: 3%;
	padding-bottom: 2%;
	font-weight: 700 !important;
}

.h4 {
	font-weight: 700 !important;
}

.right {
	padding-top: 2%;
	padding-left: 2%;
	border-left: 2px solid #6441A4;
	background: white;
	display: flex;
	
}

.left {
	padding-left: 4%;
}

.btn-class {
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 2%;
	right: 5%;
	border-radius: 100%;
	z-index: 300;

}
.side {
	padding: 4%;

}

@media (max-width: 768px) {
	.col-info{
		display: none;
	}


	.side{
		width: 75%;
		height: 100%;
		position: fixed;
		z-index: 200;
		background: white;
		top: 0;
		left: 5;
		box-shadow: 2px 0 5px rgba(0,0,0,0.3);
	}
	
}

@media (min-width: 769px) {
	.btn-class{
		display: none;
	}
	.backdrop{
		display: none;
	}

	
}
