.col {
	margin: 1px !important;
}
.cont {
	min-width: 100%;
}
.zeroMargins {
	padding-left: 2px ;
	padding-right: 2px ;
	width: 100%;

	
}
.center {
	align-items: center;
	align-content: center;
	float: center;
	padding-right: 0;
	padding-left: 0;
	width: 100% !important;
	min-width: 100%;

}


.CardStyles {
	margin-top: 5%;
	cursor: pointer;
	align-items: center;
	width: 100% !important;
	height: 100% !important;
}





.dimensionSet {
	height: 100%;
	width: 100%;
	border-width: 0 !important;
	border-radius: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	/*margin-right: 0 !important;
	margin-left: 0 !important;*/
}

.borderSquare {
	border-radius: 0;
}

.boxlayout {
	
}