body {
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS;
}

@font-face {
    font-family: 'poiret_oneregular';
    src: url('fonts/poiretone-regular-webfont.woff2') format('woff2'),
         url('fonts/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'garineldono02regular';
    src: url('fonts/garineldono02-webfont.woff2') format('woff2'),
         url('fonts/garineldono02-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'garineldoregular';
    src: url('fonts/garineldo-webfont.woff2') format('woff2'),
         url('fonts/garineldo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'garineldono01regular';
    src: url('fonts/garineldono01-webfont.woff2') format('woff2'),
         url('fonts/garineldono01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
