img {
	width: 100%;
	height: 40vh;
    margin-left: 0 !important;
}

.title {
    text-align: center;
    align-self: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: garineldono01regular;
}

h1 {
    font-weight: 900;
    padding: 0;
    margin: 0;
    font-size: 6vw;
}

h2 {
    font-weight: 900;
    padding: 0;
    margin: 0;
    font-size: 2vw;
}

.title1 {
    background: -webkit-linear-gradient(right, #310b4f, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title2 {
    color: white;
}

.title3 {
    color: black;
}

@media (max-width: 576px) {
    .overlay_hide{
        display: none !important;
    }
}

.overlay_col {
    height: 40vh; /* Full height (cover the whole page) */
    top: 0; 
    display: flex;
    margin: 0;
    background: #e4e0ff;
}

.alignVertical {
    border: .3vw groove #6441A4;
    margin: 10%;
    padding: 5%;
    font-family: garineldono01regular;
    font-size: 1.25vw;
    line-height: 1.2vw;
    text-align: center;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    font-weight: 700;
    opacity: .75;
    background: #f6f4ff;
}

.padded {
    padding: 1%;
}

.slide1 {
    width: 100%;
    height: 40vh;
    margin-left: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: linear-gradient(right, #e4e0ff, transparent 90%),
        url("purple-controller.png");
}
.slide2 {
    width: 100%;
    height: 40vh;
    margin-left: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: linear-gradient(right, #e4e0ff, transparent 90%),
        url("keyboard.jpg");
}
.slide3 {
    width: 100%;
    height: 40vh;
    margin-left: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: linear-gradient(left, transparent, #e4e0ff),
        url("city.jpg");
}

.zeroMargin {
    margin: 0;
    padding: 0;
}